<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 3</title>
    <style>
        .container {
            position: relative;
            width: 800px; 
            height: 600px; 
        }

        .image1 {
            position: absolute;
            top: 20%;
            left: 37%;
            width: 49%;
            height: auto;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
        }

        .image2 {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<!-- Come on - use the same logic, its Konovalets, so its the same place. Its all about path-->
<body>
    <div class="container">
        <img src="../img/20.png" alt="Mirror" class="image2">
        <img src="../img/konovalets.png" alt="Man" class="image1">
    </div>
    <div style="font-size:32px">Level3: Mirror</div>
</body>
</html>