<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assemble Images</title>
    <style>
        .container {
            position: relative;
            width: 800px; /* Adjust as needed */
            height: 600px; /* Adjust as needed */
        }

        .image1 {
            position: absolute;
            top: 20%;
            left: 10%;
            width: 61%;
            height: auto;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1)
        }

        .image2 {
            width: 100%;
            height: auto;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1)
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="../img/20.png" alt="Mirror" class="image2">
        <img src="../img/14.png" alt="Man" class="image1">
    </div>
    <div style="font-size:32px">rorriM :3leveL</div>
    <div>?rouf eb ti t'ndluohS</div>
</body>
</html>