<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locked</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            width: 80%;
            max-width: 800px;
        }

            .container img {
                max-width: 100%;
                height: auto;
            }

        table {
            width: 80%;
            max-width: 800px;
            margin-top: 20px;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="../img/CPHBox.jpg" alt="Image A" id="imageA">
        /
        <img src="../img/LvivBox.jpg" alt="Image B" id="imageB">
       
    </div>

    ORG comment: Guys if you get to open box - take what inside or take a photo and put it back, and close the locker please :) There are many teams..
    <table>
        <tr>
            <td>🔒</td>
            <td>✅</td>
            <td>⚠️</td>
        </tr>
        <tr>
            <td>682</td>
            <td>1</td>
            <td></td>
        </tr>
        <tr>
            <td>614</td>
            <td></td>
            <td>1</td>
        </tr>
        <tr>
            <td>206</td>
            <td></td>
            <td>2</td>
        </tr>
        <tr>
            <td>738</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>780</td>
            <td></td>
            <td>1</td>
        </tr>
    </table>
    <div style="font-size: 32px">Christian really loves his Excel tables. He says that information in this sheet will help you open the lock.</div>
</body>
</html>
