<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locked</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            width: 80%;
            max-width: 800px;
        }

            .container img {
                max-width: 100%;
                height: auto;
            }

        table {
            width: 80%;
            max-width: 800px;
            margin-top: 20px;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }

        .input-row {
            display: flex;
            gap: 10px;
        }

            .input-row input {
                width: 50px;
                text-align: center;
            }

        .submit-button {
            margin-top: 20px;
        }

        .error-message {
            color: red;
            margin-top: 20px;
        }

    </style>
</head>
<body>

    <table>
        <tr>
            <td>🔒</td>
            <td>✅</td>
            <td>⚠️</td>
        </tr>
        <tr>
            <td>682</td>
            <td>1</td>
            <td></td>
        </tr>
        <tr>
            <td>614</td>
            <td></td>
            <td>1</td>
        </tr>
        <tr>
            <td>206</td>
            <td></td>
            <td>2</td>
        </tr>
        <tr>
            <td>738</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>780</td>
            <td></td>
            <td>1</td>
        </tr>
    </table>
    <div style="font-size: 32px">Christian really loves his Excel tables. He says that information in this sheet will help you open the lock.</div>

    <div class="form-container">
        <form action="/lobyco/unlocked" method="post">
            <div class="input-row">
                <input type="text" name="number1" maxlength="1" required>
                <input type="text" name="number2" maxlength="1" required>
                <input type="text" name="number3" maxlength="1" required>
            </div>
            <div class="submit-button">
                <button type="submit">unlock</button>
            </div>
            <div id="error-message" class="error-message">@ViewBag.error</div>
        </form>
    </div>
</body>
</script>
</html>
