<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution2</title>
</head>
<body>
    <div style="font-size:32px;">Christian approves your skills. Second piece is SGVybyBiYW5uZXI=</div>
    <br />
    <div style="font-size:16px;"><a href="~/lobyco/home-screen">Go back to home screen.</a></div>
</body>
</html>