<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution3</title>
</head>
<body>
    ВСТАВИТИ ГІФКУ СОРЕНА ВЕСТА
    <div style="font-size:32px;">GREAT SUCCESS!!! Here is the third piece: Q29tbXVuaWNhdGlvbiBtYW5hZ2VyIHN1bnNldA==</div>
    <br />
    <div style="font-size:16px;"><a href="~/lobyco/home-screen">Go back to home screen.</a></div>
</body>
</html>