<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trash</title>
</head>
<body>
    <img src="~/img/trash.jpg" style="width:600px"/>
    <div style="font-size:32px">What are you doing in this trash can? Go back and solve puzzles, other team is probably winning by now.</div>
</body>
</html>
